.slide-mas{
    height: 300px;
}
.btn-mas{
    position: relative;
    top: 14%;
}

.vote-average{
    font-size: 14px;
    color: white;
    position: absolute;
    bottom: 5px;
    right: 15px;
    
}