<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Favoritos por Género
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="dark" fullscreen class="animate__animated animate__fadeIn faster">
 
  <!-- <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Favoritos por Género </h3>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  
  <div *ngFor="let fav of favoritoGenero" >
    <ion-grid *ngIf="fav.peliculas.length > 0">
      <ion-row>
        <ion-col>
          <h4>{{fav.genero}}</h4>
        </ion-col>
      </ion-row>
      <app-slideshow-poster [peliculas]="fav.peliculas" (loadData)="loadData()"></app-slideshow-poster>
    </ion-grid>
   
  </div>


  
        <ion-slides *ngIf="peliculasFav.length === 0"
                    [options]="sliderOpts" class="no-info">
          <ion-slide class="no-info">
            <ion-label>No hay Información para mostrar</ion-label>
          </ion-slide>
        </ion-slides>
    

 
  
</ion-content>
